section.process-item.process-item--one
	span.process-item__number 01
	.process-item__content
		.process-item__content-head.process-item__content-head--right be active
		.process-item__content-descr
			|Post videos with your skills, Like and follow others to be more popular.
section.process-item.process-item--two
	span.process-item__number.process-item__number--left 02
	.process-item__content.process-item--two-content
		.process-item__content-head.process-item__content-head--left find contact
		.process-item__content-descr
			|Contact others to find right coach or athlete you are looking for.
section.process-item.process-item--three
	span.process-item__number 03
	.process-item__content
		.process-item__content-head.process-item__content-head--right work it
		.process-item__content-descr
			|Enjoy being a student athlete, the recruiting process can be overwhelming, we want to make this a enjoyable experience.