section.features-item
	h2.features-item__head athlets
	picture.features-item__img
		source(media="(max-width: 767px)" srcset="images/footballer-320.png")
		source(media="(min-width: 768px) and (max-width: 1919px)" srcset="images/footballer-768.png")
		source(media="(min-width: 1920px)" srcset="images/footballer-1920.png")
		img(src="images/footballer-320.png" alt="logo")
	.features-item__info.info
		.info__block
			span.info__block-number 01
			.info__block-header connection
			p.info__block-content
				|Connect with coaches directly, you can ping coaches to view profile.
		.info__block
			span.info__block-number 02
			.info__block-header collaboration
			p.info__block-content
				|Work with other student athletes to  increase visability. When you share and like other players videos it will increase your visability as a player. This is the team work aspect to Surface 1.
		.info__block
			span.info__block-number 03
			.info__block-header growth
			p.info__block-content
				|Resources and tools for you to get better as a student Athelte. Access to training classes, tutor sessions, etc
section.features-item
	h2.features-item__head players
	picture.features-item__img
		source(media="(max-width: 767px)" srcset="images/player-320.png")
		source(media="(min-width: 768px) and (max-width: 1919px)" srcset="images/player-768.png")
		source(media="(min-width: 1920px)" srcset="images/player-1920.png")
		img(src="images/player-320.png" alt="logo")
	.features-item__info.info
		.info__block
			span.info__block-number 01
			.info__block-header connection
			p.info__block-content
				|Connect with talented athlete directly, you can watch their skills through video showreels directly from Surface 1.
		.info__block
			span.info__block-number 02
			.info__block-header collaboration
			p.info__block-content
				|Work with recruiter to increase your chances of finding talented athlete.
		.info__block
			span.info__block-number 03
			.info__block-header growth
			p.info__block-content
				|Save your time, recruit proper athlets for your team.



	