header.main-header
	.main-header__logo-and-target
		a.main-header__logo(href="#")
			picture
				source(media="(max-width: 767px)" srcset="images/logo-320.png")
				source(media="(min-width: 768px)" srcset="images/logo-768-1920.png")
				img(src="images/logo-320.png" alt="logo")
		.main-header__target for athlets and coaches
	h1.main-heading
		span.main-heading__left-hand be recruited
		span.main-heading__right-hand play college sports
		span.main-heading__decoration
	.main-header__store-and-menu
		.main-header__store.store-btn
			.store-btn__app-store download on the
				a(href="#") app store
			.store-btn__google-play get it on
				a(href="#") google play
		.main-header__menu
			nav.main-nav
				ul.main-nav__menu
					li.main-nav__menu-item
						a(href="#") footbal
					li.main-nav__menu-item
						a(href="#") basketball
					li.main-nav__menu-item
						a(href="#") baseball
					li.main-nav__menu-item
						a(href="#") soccer
					li.main-nav__menu-item
						a(href="#") ice hockey